$oxford-blue: #071a2cff;
$amber: #febe04ff;
$azure-web: #eaf4f4ff;
$dark-cyan: #3a888eff;
$red-cmyk: #f50329ff;
$rich-black: rgb(30, 0, 85);
$tangerine: #f78907ff;
$rich-black-2: #09101dff;
$rich-black-3: #020713ff;
$rich-black-4: #000b19ff;
